<div class="unit" ng-controller = "unitController">
    {{item}}
    <img src="data/begin/UNIT2/IMAGE/UNIT.bmp"/>

    <div class="start" ng-show = "showStart"></div>
    <div class="start-mouse"  ng-click = 'myClick(items = 0)'></div>

    <div class="learn" ng-show = "showLearn"></div>
    <div class="learn-mouse"  ng-click = 'myClick(items = 1)'></div>

    <div class="more" ng-show = "showMore"></div>
    <div class="more-mouse"  ng-click = 'myClick($items = 2)'></div>

    <div class="alphabet" ng-show = "showAlpha"></div>
    <div class="alphabet-mouse"  ng-click = 'myClick(items = 3 )'></div>

    <div class="build" ng-show = "showBuild"></div>
    <div class="build-mouse"  ng-click = 'myClick(items = 4 )'></div>

    <div class="review" ng-show = "showReview"></div>
    <div class="review-mouse"  ng-click = 'myClick(items = 5)'></div>

    <div class="about" ng-show = "showAbout"></div>
    <div class="about-mouse"  ng-click = 'myClick(items = 6)'></div>
</div>